<DOCTYPE!>
<html>
    <head>
        <title>Page Potin</title>
    </head>
    <body>
        <h1>Page Potin</h1>
        <p>Voici la page du potin n°<%= params[:id] %></p>
        <p>Son auteur : <%= gossip.author %></p>
        <p>Le contenu du potin : <%= gossip.content %></p>
        <p>redirect '/'</p>
    </body>
</html>